.layout {
  min-height: 100vh;
  background: #F5F7FA;
}

.main-content {
  margin-left: 80px;
  margin-top: 70px;
  padding: 30px;
  min-height: calc(100vh - 70px);
}

.main-content.no-scroll {
  height: calc(100vh - 70px);
  min-height: unset;
  overflow: hidden;
  padding: 0;
}
